<div class="w-full">
  <h1>Bucket</h1>
  <div class="w-full flex space-x-5">
    <Components.bucket bucket={@bucket} />
    <div class="flex-1">
      <%= if @current_entry do %>
        <Components.current_entry
          bucket={@bucket}
          stop_form={@entry_stop_form}
          description_form={@entry_description_form}
        />
      <% else %>
        <Components.new_entry bucket={@bucket} form={@entry_start_form} />
      <% end %>
    </div>
  </div>
</div>
