<div>
  <div class="mb-6">
    <h1 class="text-xl font-bold">Buckets</h1>
  </div>
  <div>
    <.live_component module={Form} id="bucket-form" current_user={@current_user} />
  </div>
  <div class="mt-10 space-y-4">
    <%= for {id, bucket} <- @streams.buckets do %>
      <div id={id}>
        <Components.bucket bucket={bucket} />
      </div>
    <% end %>
  </div>
</div>
